<div class="row">
	<div class="col-md-2  col-lg-2 border" style="background-color:#eeeeee;min-height:500px;">
		<center>
		<% if @user.picture? %>
		 	<img src="<%=@user.picture%>" class="img-circle" alt="<%= @user.name %>" width="200" height="200">
		<% end %>
		<h2><%= @user.name %></h2>
		<h4><%= @user.email %></h4>
		<h4>
			<% if @user.posts.any? %>
				<button type="button" class="btn btn-primary">Posts Count <span class="badge"> <%= @user.posts.count %></span>
				</button>
			<% end %>
		</h4>
		<% if  @user==current_user %>
			<div >
			<%= link_to "New Post",new_post_path,class: "btn  btn-primary",target: "_blank" %>
			</div>
			<% if @user.admin? %>
			<div style="margin-top:10px ">
				<%= link_to "Add User ",new_user_path,class: "btn  btn-primary" %>
			</div>
			<div style="margin-top:10px ">
				<%= link_to "Add Category ",new_category_path,class: "btn  btn-primary" %>
			</div>
		<% end %>
		<% end %>


		<% if current_user&&current_user.admin? %>
			<div style="margin-top:10px ">
				<%= link_to "Edit User ",edit_user_path(@user),class: "btn  btn-primary" %>
			</div>
		<% end %>
	</center>

	</div>

	<div class="col-md-10" style="min-height:700px;">

		<% if @user.posts.any? %>
				<div class="container-fluid">


					<% postsLeft = @posts.size %>
						<% total=0 %>
					<% for i in 0...(postsLeft)%>
						<% if !(@posts[i].nil?)%>

										<% if (i%4) == 0 %>
											<div class="row  small_post_row_box" style="margin-bottom: 20px;">
										<% end %>

										<div class="col-md-3   small_post" style="margin-left:0px;">
											<%=smallPost(@posts[i]).html_safe%>
											<%total = total+1%>
										</div>
										<% if total==4 %>
											</div>
											<% total = 0 %>
										<%end%>

										<% if @posts[i+1].nil? && total!=0 %>
											</div>
										<% end %>

						<% else %>
							<% break %>
						<% end %>
					<% end %>


						<!--
							<% @posts.each do |post| %>
								<h3><%= link_to post.title,post%></h3>
							<% end %>-->

			</div>
		<center>	<%= will_paginate @posts, renderer: BootstrapPagination::Rails %> </center>
		<% end %>


	</div>

</div>
